.hive.hive-registrations.hive-registrations-new{ class: "#{hive_animation_class}" }
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { validate: true, model: resource_name, id: resource.id } }) do |f|
    = f.flash_error :base

    = render "hive/shared/header"

    = f.input :email, required: true, input_html: { autofocus: true }

    - attributables(resource, optional: false, except: :newsletter).each do |name, options|
      = f.attributable name

    - if resource.password_required?
      = f.input :password, required: true
      = f.input :password_confirmation, required: true if Hive.registration_requires_password_confirmation

    - attributables(resource, only: :newsletter).each do |name, options|
      = f.attributable name

    = f.input :accept_terms, as: :boolean if resource.must_accept_terms_on_sign_up?

    = f.button :submit, t('.submit'), class: 'btn-primary btn-lg btn-block', data: { disable_with: t('.submitting') }

    = render "hive/shared/footer"
