.hive.hive-sessions.hive-sessions-new{ class: "#{hive_animation_class}" }
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.error :base

    = render "hive/shared/header"

    = f.devise_login label: false, required: true, input_html: { autofocus: true }

    = f.input :password, label: false, required: true
    = f.input :remember_me, as: :boolean, label: false, inline_label: true if devise_mapping.rememberable?

    = f.button :submit, t('.submit'), class: 'btn-primary btn-lg btn-block', data: { disable_with: t('.submitting') }

    = render "hive/shared/footer"
